*{
    margin:0;
    padding:0
}

:root{
    --col1 : #ffc20e;
}

body{
    background-color: black;
    color:white
}

.mainhead1{
    -webkit-text-stroke: 1px var(--col1);
    font-size: 10rem;
    color: transparent;
    font-weight: 900;
    text-align: center;
}
